.container {
  height: 100vh;

  .layout {
    height: 100%;

    .logo {
      color: #fff;
      line-height: 32px;
      margin: 16px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 6px;
      text-align: center;
      font-weight: bold;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        align-items: center;
        gap: 15px;

        .title {
          font-size: 25px;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }
}
