@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

@layer components {
  .bg-base {
    @apply bg-white dark:bg-gray-800/50;
  }

  .bg-base-top {
    @apply bg-white dark:bg-gray-800/70;
  }

  .action-text {
    @apply cursor-pointer hover:opacity-85;
  }

  .link-text {
    @apply text-blue-500 cursor-pointer hover:text-blue-400;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-base-300;
}

.ant-popover-inner {
  background-color: transparent !important;
  padding: 0 !important;
}
