#md {
  h2 {
    margin: 48px 0 16px;
    padding-top: 24px;
    letter-spacing: -0.02em;
    line-height: 32px;
    font-size: 20px;
    border-top: 1px solid #e2e2e3;
    font-weight: 600;
  }

  h1 {
    display: none;
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    list-style: disc;
    padding-left: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  pre {
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    overflow: auto;
  }

  pre.github-light {
    background-color: #f5f5f5!important;
  }
}
